.tab-list {
    margin: 1rem;
    text-align: center;
}

button[role="tab"] {
    width: 20rem;
    height: 3.5em;
    margin: 1%;
    line-height: 2;
    border: .1rem solid #111;
    color: #DDF;
    background-color: #333;
    text-align: center;
}

button.active {
    background-color: #555555;
    border: .1rem solid #111;
    /*box-shadow: #555555 0 .5rem 0;
    outline: .5rem solid #555555;*/
}

button:focus {
    border: #DDDDFF solid 1px;
}