.colors-complementary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.colors-palette-color {
    margin: .5rem;
}

h3 {
    justify-self: center;
}

.design-tips {
    color: #DDDDFF;
    font-size: 1.4rem;
    justify-self: center;
}

.colors-complementary p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0;
}